services:
  web-app:
    build: /services/web_app
    image: web-app
    ports:
      - "5000:5000"     
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_QUEUE=${REDIS_QUEUE}
      - REDIS_DATA_COUNTER_KEY=${REDIS_DATA_COUNTER_KEY}
      - REDIS_RESPONSE_CHANNEL=${REDIS_RESPONSE_CHANNEL}
      - DEVELOPMENT=0
    networks:
      - monitoring

  backend:
    build: /services/stl_generation
    image: backend
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_QUEUE=${REDIS_QUEUE}
      - REDIS_RESPONSE_CHANNEL=${REDIS_RESPONSE_CHANNEL}
    networks:
      - monitoring

  custom-redis:
    build: /services/custom_redis
    image: custom-redis
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge