{% extends "base.html" %}
eaf stencil
{% block title %}Landing Page{% endblock %}

{% block content %}
<section class="hero bg-gradient-to-r from-neutral-600 to-neutral-750 text-white py-20 text-center">
    <h1 class="text-4xl font-bold bg-gradient-to-r from-cyan-500 to-pink-500 bg-clip-text text-transparent leading-relaxed">
    Instantly Generate 3D-Printable files from PNGs
    </h1>

    <p class="text-lg font-bold mb-6 text-white">No CAD Software needed. Simply Create.</p>
    <a href="/create" class="px-6 py-3 bg-gradient-to-r from-neutral-800 to-neutral-700 text-pink-600 rounded-lg font-semibold hover:bg-gray-100">Get Started</a>
</section> 

<section class="py-16 bg-gray-100">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold text-center mb-8">See It in Action:</h2>
    <div class="flex flex-col items-center gap-6">
      <div>
        <img src="{{ url_for('static', filename='hawaii.png') }}" alt="Screenshot 1" class="rounded-lg shadow-md">
      </div>
      <div>
        <img src="{{ url_for('static', filename='w.png') }}" alt="Screenshot 2" class="rounded-lg shadow-md">
      </div>
      <div>
        <img src="{{ url_for('static', filename='tree.png') }}" alt="Screenshot 3" class="rounded-lg shadow-md">
      </div>
    </div>
</section>
{% endblock %}